# Default ignored files
/../../../../../../:\Users\tanvi.MSI\CLionProjects\Navigation\cmake-build-debug
cmake-build-debug/CMakeFiles/Navigation.dir/objects.a
cmake-build-debug/Navigation.exe
**/cmake-build-debug
cmake-build-debug\
